<section class="hero is-primary is-fullheight">
  <div
    *ngIf="showMessage"
    class="notification"
    [ngClass]="successMessage ? 'is-link' : 'is-danger'"
  >
    <button class="delete" (click)="closeMessage()"></button>
    {{ message }}
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-4">
          <form [formGroup]="loginForm" action="" class="box">
            <h1 class="title has-text-dark has-text-centered">Login Form</h1>
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input
                  formControlName="email"
                  class="input"
                  [ngClass]="email.invalid && email.touched ? 'is-danger' : ''"
                  type="email"
                  placeholder="Email"
                  required
                />
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </p>
              <p *ngIf="email.invalid && email.touched" class="help is-danger">
                This email is invalid
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left">
                <input
                  formControlName="password"
                  class="input"
                  [ngClass]="
                    password.invalid && password.touched ? 'is-danger' : ''
                  "
                  type="password"
                  placeholder="Password"
                  required
                />
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </p>
              <p
                *ngIf="password.invalid && password.touched"
                class="help is-danger"
              >
                This password is required
              </p>
            </div>
            <div class="field">
              <p class="control">
                <button
                  [disabled]="loginForm.invalid"
                  class="button is-success"
                  (click)="login()"
                >
                  Login
                </button>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
